<div class="row mt-2" [formGroup]="formBitacora">
    <div class="col-md-12 mt-2">
        <h3>Agregar Bitacora</h3>
        <textarea rows="4" class="form-control" formControlName="comentario"></textarea>
    </div>
    <div class="col-md-12 mt-2">
        <button type="button" class="btn btn-success w-100" (click)="guardarBitacora()">
            Guardar Bitacora
        </button>
    </div>
</div>
<hr>
<div class="row mt-2">
    <div class="col-md-12">
        <h3>Historial de Bitacoras</h3>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <table class="table" width="100%">
            <thead>
                <tr>
                    <th width="60%">Comentario</th>
                    <th width="20%">Fecha Ingresado</th>
                    <th width="20%">Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bitacora of comentariosBitacora">
                    <td>{{bitacora.comentario}}</td>
                    <td>{{bitacora.fecha_ingreso}}</td>
                    <td>{{bitacora.usuario}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>