<shared-navbar></shared-navbar>
<div class="container-fluid pt-3 pb-3 fondoTodo">
    <div class="card">
        <div class="card-body mb-4">
            <ng-container *ngIf="[1,2,10].includes(perfil); else noAutorizado">
                <inversionista-admin></inversionista-admin>
            </ng-container>
            <ng-template #noAutorizado>
                <inversionista-inversor></inversionista-inversor>
            </ng-template>
        </div>
    </div>
</div>
<shared-footer></shared-footer>