<ul class="nav nav-tabs d-flex mb-4">
    <li class="nav-item flex-fill text-center">
        <a class="nav-link" [routerLink]="['detalle']" routerLinkActive="active">
            Detalle
        </a>
    </li>
    <li class="nav-item flex-fill text-center">
        <a class="nav-link" [routerLink]="['bitacora']" routerLinkActive="active">
            Bitacora
        </a>
    </li>
    <li class="nav-item flex-fill text-center">
        <a class="nav-link" [routerLink]="['prorroga']" routerLinkActive="active">
            Prorroga
        </a>
    </li>
    <li class="nav-item flex-fill text-center">
        <a class="nav-link" [routerLink]="['simulacion']" routerLinkActive="active">
            Simulador
        </a>
    </li>
    <li class="nav-item flex-fill text-center">
        <a class="nav-link" [routerLink]="['documentos']" routerLinkActive="active">
            Documentos
        </a>
    </li>
    <li class="nav-item flex-fill text-center">
        <a class="nav-link" [routerLink]="['curse']" routerLinkActive="active">
            Curse
        </a>
    </li>
</ul>