<div class="container">
  <div class="row mt-2">
    <div class="col-md-6">
      <label for="">Valor UF</label>
      <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
      <label for="">Fecha UF</label>
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="">Porcentaje de Compra</label>
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <table width="100%" class="table table-bordered">
        <thead>
          <tr>
            <th width="33%"></th>
            <th width="33%">Valor UF</th>
            <th width="33%">Valor $</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Valor comercial</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
          </tr>
          <tr>
            <td>Compraventa</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
          </tr>
          <tr>
            <td>Fondo de opción de compra</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
          </tr>
          <tr>
            <td>Opción de compra</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
          </tr>
          <tr>
            <td>Tasa Cliente (Porcentaje posibiladad)</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
          </tr>
          <tr>
            <td>Tasa contrato (Porcentaje posibiladad)</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
          </tr>
          <tr>
            <td>Sobre tasa</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
          </tr>
          <tr>
            <td>Monto inversión</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <table width="100%" class="table table-bordered">
        <thead>
          <tr>
            <th width="20%">Concepto</th>
            <th width="20%">Valor UF</th>
            <th width="20%">Valor $</th>
            <th width="20%">Quien Retira</th>
            <th width="20%">Documento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12 Rentas</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>Sobre Tasa</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>Comisión</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>Gastos</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>Contribuciones</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>Alzamientos</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>GGCC</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>Liquido Cliente</td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" readonly /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
