<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-12">
            <h3>Prorrogas</h3>
        </div>
    </div>
    <div [formGroup]="formProrroga">
        <div class="row mt-2">
            <div class="col-md-4">
                <label for="">Pagada</label>
                <div class="d-flex justify-content-center gap-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="id_pagadasi" formControlName="pagada"
                            value="SI">
                        <label class="form-check-label" for="id_pagadasi">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="id_no" formControlName="pagada" value="NO">
                        <label class="form-check-label" for="id_no">No</label>
                    </div>
                </div>
                <shared-mensaje-validador [forControl]="formProrroga.controls['pagada']" />
            </div>
            <div class="col-md-4">
                <label for="">Meses</label>
                <input type="text" class="form-control" formControlName="cantidad_meses"
                    (input)="calcularNuevoVencimiento()">
                <shared-mensaje-validador [forControl]="formProrroga.controls['cantidad_meses']" />
            </div>
            <div class="col-md-4">
                <label for="">Nuevo Vencimiento</label>
                <input type="date" class="form-control text-center" readonly formControlName="fecha_vencimiento"
                    readOnly>
                <shared-mensaje-validador [forControl]="formProrroga.controls['fecha_vencimiento']" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <label for="">Abono</label>
                <div class="d-flex justify-content-center gap-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="id_abonosi" formControlName="abono" value="SI">
                        <label class="form-check-label" for="id_abonosi">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="id_abonono" formControlName="abono" value="NO">
                        <label class="form-check-label" for="id_abonono">No</label>
                    </div>
                </div>
                <shared-mensaje-validador [forControl]="formProrroga.controls['abono']" />
            </div>
            <div class="col-md-4">
                <label for="">Porcentaje</label>
                <input type="text" class="form-control" (blur)="formateadorMiles($event, formProrroga)"
                    (input)="calcularNuevoMontoContrato()" formControlName="porcentaje">
                <shared-mensaje-validador [forControl]="formProrroga.controls['porcentaje']" />
            </div>
            <div class="col-md-4">
                <label for="">Monto Contrato</label>
                <input type="text" class="form-control" formControlName="monto_contrato" readonly>
                <shared-mensaje-validador [forControl]="formProrroga.controls['monto_contrato']" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <button type="button" class="btn btn-success w-100" [disabled]="formProrroga.invalid"
                    (click)="agregarProrroga()">
                    Guardar Prorroga
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-2">
        <div class="col-md-12">
            <h3>Historial de Prorrogas</h3>
        </div>
        <div class="col-md-12 mt-2">
            <table class="table table-border" width="100%">
                <thead>
                    <tr>
                        <th width="10%">Pagado</th>
                        <th width="10%">Meses</th>
                        <th width="10%">Abono</th>
                        <th width="10%">Porcentaje</th>
                        <th width="10%">Monto Contrato</th>
                        <th width="10%">Contrato Anterior</th>
                        <th width="10%">Fecha Vencimiento</th>
                        <th width="20%">Usuario</th>
                        <th width="10%">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prorroga of prorrogas; index as i; first as isFirst;">
                        <td>{{prorroga.pagada}}</td>
                        <td>{{prorroga.cantidad_meses}}</td>
                        <td>{{prorroga.abono}}</td>
                        <td>{{prorroga.porcentaje | currencyPesoChileno}}%</td>
                        <td>{{prorroga.monto_contrato | currencyPesoChileno}} UF</td>
                        <td>{{prorroga.monto_contrato_ant | currencyPesoChileno}} UF</td>
                        <td>{{prorroga.fecha_vencimiento | date: 'dd-MM-yyyy'}}</td>
                        <td>{{prorroga.usuario.nombre_ejecutivo}}</td>
                        <td>
                            <div class="d-flex gap-3" *ngIf="isFirst">
                                <i class="bi bi-pencil-square fs-5" (click)="editarModalProrroga(prorroga, i)"></i>
                                <i class="bi bi-trash fs-5" (click)="eliminarProrroga(prorroga.id_prorroga)"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<shared-modal #modalProrrogaEditar modalId="modalProrrogaEditar" titulo="Modificar Bitacora">
    <div modal-cuerpo [formGroup]="formProrrogaEditar">
        <div class="row mt-2">
            <div class="col-md-4">
                <label for="">Pagada</label>
                <div class="d-flex justify-content-center gap-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="id_pagadasi" formControlName="pagada"
                            value="SI">
                        <label class="form-check-label" for="id_pagadasi">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="id_no" formControlName="pagada" value="NO">
                        <label class="form-check-label" for="id_no">No</label>
                    </div>
                </div>
                <shared-mensaje-validador [forControl]="formProrrogaEditar.controls['pagada']" />
            </div>
            <div class="col-md-4">
                <label for="">Meses</label>
                <input type="text" class="form-control" formControlName="cantidad_meses"
                    (input)="calcularNuevoVencimiento(1)">
                <shared-mensaje-validador [forControl]="formProrrogaEditar.controls['cantidad_meses']" />
            </div>
            <div class="col-md-4">
                <label for="">Nuevo Vencimiento</label>
                <input type="date" class="form-control text-center" readonly formControlName="fecha_vencimiento"
                    readOnly>
                <shared-mensaje-validador [forControl]="formProrrogaEditar.controls['fecha_vencimiento']" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <label for="">Abono</label>
                <div class="d-flex justify-content-center gap-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="id_abonosi" formControlName="abono" value="SI">
                        <label class="form-check-label" for="id_abonosi">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="id_abonono" formControlName="abono" value="NO">
                        <label class="form-check-label" for="id_abonono">No</label>
                    </div>
                </div>
                <shared-mensaje-validador [forControl]="formProrrogaEditar.controls['abono']" />
            </div>
            <div class="col-md-4">
                <label for="">Porcentaje</label>
                <input type="text" class="form-control" (blur)="formateadorMiles($event, formProrrogaEditar)"
                    (input)="calcularNuevoMontoContrato(1)" formControlName="porcentaje">
                <shared-mensaje-validador [forControl]="formProrrogaEditar.controls['porcentaje']" />
            </div>
            <div class="col-md-4">
                <label for="">Monto Contrato</label>
                <input type="text" class="form-control" formControlName="monto_contrato" readonly>
                <shared-mensaje-validador [forControl]="formProrrogaEditar.controls['monto_contrato']" />
            </div>
        </div>
    </div>
    <div modal-footer>
        <button type="button" class="btn btn-success w-100" [disabled]="formProrrogaEditar.invalid"
            (click)="editarProrroga()">
            Editar Prorroga
        </button>
    </div>
</shared-modal>