<div class="row mt-2">
    <div class="col-md-12">
        <h3>Prorrogas</h3>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-4">
        <label for="">Pagada</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-4">
        <label for="">Meses</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-4">
        <label for="">Nuevo Vencimiento</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-12 mt-2">
        <button type="button" class="btn btn-success w-100">
            Guardar Prorroga
        </button>
    </div>
</div>
<hr>
<div class="row mt-2">
    <div class="col-md-12">
        <h3>Historial de Prorrogas</h3>
    </div>
    <div class="col-md-12 mt-2">
        <table class="table" width="100%">
            <thead>
                <tr>
                    <th width="33%">Fue Pagada</th>
                    <th width="33%">Cantidad de Meses</th>
                    <th width="33%">Nuevo Vencimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>SI</td>
                    <td>12</td>
                    <td>NUEVA FECHA A INGRESAR</td>
                </tr>
                <tr>
                    <td>SI</td>
                    <td>18</td>
                    <td>NUEVA FECHA A INGRESAR</td>
                </tr>
                <tr>
                    <td>NO</td>
                    <td>12</td>
                    <td>NUEVA FECHA A INGRESAR</td>
                </tr>
                <tr>
                    <td>NO</td>
                    <td>18</td>
                    <td>NUEVA FECHA A INGRESAR</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>