<div class="container-fluid">
  <div class="row pt-3">
    <div class="col-md-6">
      <h3>Mantenedor Linea de Negocio</h3>
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <button class="btn btn-success w-100" (click)="abrirModalLineaNegocio(null)">
        Agregar Linea de Negocio
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-mn-12">
      <p-table #tabla [value]="lineaNegocios" styleClass="p-datatable-striped" [paginator]="true" [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Registros"
        [rowsPerPageOptions]="[10, 25, 50, 100, 250, 500]" [globalFilterFields]="['nombre_lineaNegocio']"
        selectionMode="single" dataKey="id_lineaNegocio" [scrollable]="true" scrollDirection="horizontal"
        [style]="{ width: '100%' }">
        <!-- FILTRO GENERAL -->
        <ng-template pTemplate="caption">
          <div class="row">
            <div class="col-md-6">
              <button pButton class="btn btn-success" (click)="clear(tabla)">
                <i class="bi bi-filter"></i>Lipiar Filtros
              </button>
            </div>
            <div class="col-md-6">
              <input #iBuscarTodo type="text" class="form-control" (input)="handleFilter($event)"
                placeholder="Buscar en toda la tabla" />
            </div>
          </div>
        </ng-template>
        <!-- FILTROS POR COLUMNAS -->
        <ng-template pTemplate="header">
          <tr>
            <th [style]="{ width: '150px' }">
              <div class="d-flex justify-content-between align-items-center">
                <label for="">N°</label>
              </div>
            </th>
            <th pSortableColumn="nombre_lineaNegocio">
              <div class="d-flex justify-content-between align-items-center">
                <label for="">Nombre Tipo Documento</label>
                <div class="d-flex flex-column">
                  <p-columnFilter type="text" field="nombre_lineaNegocio" display="menu"></p-columnFilter>
                  <p-sortIcon field="nombre_lineaNegocio"></p-sortIcon>
                </div>
              </div>
            </th>
            <th [style]="{ width: '150px' }">
              <div class="text-center">
                <label for="">Opciones</label>
              </div>
            </th>
          </tr>
        </ng-template>
        <!-- CUERPO DE LA TABLA -->
        <ng-template pTemplate="body" let-lineaNegocio let-i="rowIndex">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ lineaNegocio.nombre_lineaNegocio }}</td>
            <td>
              <div class="text-center">
                <i class="bi bi-pencil-square" (click)="abrirModalLineaNegocio(lineaNegocio)"></i>
              </div>
            </td>
          </tr>
        </ng-template>
        <!-- MENSAJE DE QUE NO HAY DATOS -->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="20" class="text-center">No hay datos disponibles</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- MODAL PARA AGREGAR O EDITAR -->
<shared-modal #modalLineaNegocio modalId="modalLineaNegocio" [titulo]="titulo_cabecera + ' Linea de Negocio'"
  tamanoModal="modal-xl">
  <div modal-cuerpo *ngIf="cargaDeDocumento">
    <div class="row mt-2" [formGroup]="formLineaNegocio">
      <div class="row">
        <div class="col-md-6">
          <label for="">Nombre Linea de Negocio</label>
          <input type="text" class="form-control" formControlName="nombre_lineaNegocio" (keyup)="mayuscula($event)" />
          <shared-mensaje-validador
            [forControl]="formLineaNegocio.controls['nombre_lineaNegocio']"></shared-mensaje-validador>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <h3>Documentos a Ver</h3>
        </div>
        <div class="col-md-12">
          <div class="row p-1">
            <div class="col-md-4" *ngFor="let documento of documentos; let i = index" formGroupName="documentos">
              <input type="checkbox" [formControlName]="i" class="form-check-input documento_ver"
                id="{{ documento.nombre_tipoDocumento }}" />
              <label for="{{ documento.nombre_tipoDocumento }}" class="form-check-label ms-2 truncar-texto"
                [title]="documento.nombre_tipoDocumento"
                [class.ocultar-ellipsis]="documento.nombre_tipoDocumento.length <= 25">
                {{documento.nombre_tipoDocumento| slice:0:25 }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div modal-footer>
    <button type="submit" class="btn btn-success" (click)="accionLineaNegocio()" [disabled]="formLineaNegocio.invalid">
      {{ titulo_cabecera }} Linea de Negocio
    </button>
  </div>
</shared-modal>