<div class="container-fluid mt-3">
    <div class="row mt-2">
        <div class="col-md-12">
            <h3>Informacion del Cliente</h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <label for="">Rut</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-md-4">
            <label for="">Nombre</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-md-4">
            <label for="">Correo</label>
            <input type="text" class="form-control" disabled>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <label for="">Region</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-md-4">
            <label for="">Comuna</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-md-4">
            <label for="">Direccion</label>
            <input type="text" class="form-control" disabled>
        </div>
    </div>
</div>