<div class="container-fluid mt-3">
    <div class="row mt-2">
        <div class="col-md-12">
            <h3>Informacion del Cliente</h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <label for="">Rut</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-md-4">
            <label for="">Nombre</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-md-4">
            <label for="">Correo</label>
            <input type="text" class="form-control" disabled>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <label for="">Region</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-md-4">
            <label for="">Comuna</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-md-4">
            <label for="">Direccion</label>
            <input type="text" class="form-control" disabled>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <label for="">Valor Tasacion</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-md-4">
            <label for="">Valor Contrato</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-md-4">
            <label for="">LTV</label>
            <input type="text" class="form-control" disabled>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <label for="">Inversionista</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-md-4">
            <label for="">Fecha Cursado</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-md-4">
            <label for="">Fecha Vencimiento</label>
            <input type="text" class="form-control" disabled>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <label for="">Tipo de Salida</label>
            <input type="text" name="" id="" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="">Tipo de Salida sub estado</label>
            <input type="text" name="" id="" class="form-control">
        </div>
        <div class="col-md-4">
            ver que podemos agregar mas
        </div>
    </div>
</div>