<div class="container-fluid mt-3">
    <div class="row mt-2">
        <div class="col-md-12">
            <h3>Informacion del Cliente</h3>
        </div>
    </div>
    <form [formGroup]="formSalida">
        <div class="row mt-2">
            <div class="col-md-3">
                <label for="">Rut</label>
                <input type="text" class="form-control" readonly formControlName="rut">
            </div>
            <div class="col-md-3">
                <label for="">Nombre</label>
                <input type="text" class="form-control" readonly formControlName="nombre">
            </div>
            <div class="col-md-3">
                <label for="">Correo</label>
                <input type="text" class="form-control" readonly formControlName="correo">
            </div>
            <div class="col-md-3">
                <label for="">Telefono</label>
                <input type="text" class="form-control" readonly formControlName="telefono">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2">
                <label for="">Region</label>
                <input type="text" class="form-control" readonly formControlName="region">
            </div>
            <div class="col-md-2">
                <label for="">Comuna</label>
                <input type="text" class="form-control" readonly formControlName="comuna">
            </div>
            <div class="col-md-2">
                <label for="">Direccion</label>
                <input type="text" class="form-control" readonly formControlName="direccion">
            </div>
            <div class="col-md-2">
                <label for="">Valor Tasacion</label>
                <input type="text" class="form-control" readonly formControlName="valor_comercial">
            </div>
            <div class="col-md-2">
                <label for="">Valor Contrato</label>
                <input type="text" class="form-control" readonly formControlName="valor_contrato">
            </div>
            <div class="col-md-2">
                <label for="">LTV</label>
                <input type="text" class="form-control" readonly formControlName="ltv">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-3">
                <label for="">Ejecutivo</label>
                <input type="text" class="form-control" readonly formControlName="ejecutivo">
            </div>
            <div class="col-md-3">
                <label for="">Inversionista</label>
                <input type="text" class="form-control" readonly formControlName="inversionista">
            </div>
            <div class="col-md-3">
                <label for="">Fecha Cursado</label>
                <input type="date" class="form-control text-center" readonly formControlName="fecha_cursado_inicio">
            </div>
            <div class="col-md-3">
                <label for="">Fecha Vencimiento</label>
                <input type="date" class="form-control text-center" readonly formControlName="fecha_cursado_termino">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <label for="">Tipo de Salida</label>
                <ng-select [items]="tipoSalida" bindValue="id_tipoSalida" bindLabel="nombre_salida"
                  placeholder="Seleccionar Tipo Salida" notFoundText="No se encontraron coincidencias"
                  formControlName="tipo_salida">
                </ng-select>
            </div>
            <div class="col-md-4">
                <label for="">Tipo de Salida sub estado</label>
                <ng-select [items]="tipoSubSalida" bindValue="id_tipoSubSalida" bindLabel="nombre_subSalida"
                  placeholder="Seleccionar Tipo Sub-Salida" notFoundText="No se encontraron coincidencias"
                  formControlName="tipo_subSalida">
                </ng-select>
            </div>
            <div class="col-md-4">
                <label for="">Fecha Termino</label>
                <input type="date" class="form-control text-center" formControlName="fecha_cliente_termino">
            </div>
        </div>
    </form>
    <div class="row mt-4">
        <div class="col-md-12">
            <button type="button" class="btn btn-success w-100" (click)="modificarClienteSalidaDetalle()">
                <i class="bi bi-floppy-fill"></i> Guardar
            </button>
        </div>
    </div>
</div>