<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true" [id]="modalId" #modal>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- Encabezado -->
            <div class="modal-header">
                <h5 class="modal-title">
                    <h5 class="modal-title">{{ titulo }}</h5>
                </h5>
                <button type="button" class="btn-close" (click)="cerrarModal()"></button>
            </div>

            <!-- Cuerpo -->
            <div class="modal-body">
                <ng-content select="[modal-cuerpo]"></ng-content>
            </div>

            <!-- Pie de página -->
            <div class="modal-footer">
                <ng-content select="[modal-footer]"></ng-content>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>