<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-md-6">
      <h1>Ficha Comite</h1>
    </div>
    <div class="col-md-6" style="text-align: right">
      <button class="btn btn-success" (click)="exportarFicha()">Exportar Ficha</button>
    </div>
  </div>
  <div class="row-mt-2">
    <div class="col-md-12">
      <h4>Información Extra Cliente</h4>
    </div>
  </div>
  <form [formGroup]="formFichaComite" (ngSubmit)="guardarFicha()">
    <div class="row mt-2">
      <div class="col-md-4">
        <label for="">Nombre(s)</label>
        <input type="text" (change)="mayuscula($event)" class="form-control" formControlName="nom_cliente" />
      </div>
      <div class="col-md-4">
        <label for="">Rut</label>
        <input type="text" (keyup)="formatearRut($event)" class="form-control" formControlName="rut" />
      </div>
      <div class="col-md-4">
        <label for="">Profesión</label>
        <input type="text" (change)="mayuscula($event)" class="form-control" formControlName="profesion" />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <label for="">Dirección</label>
        <input type="text" (change)="mayuscula($event)" class="form-control" formControlName="direccion" />
      </div>
      <div class="col-md-3">
        <label for="">Región</label>
        <ng-select [items]="selectRegiones" placeholder="Seleccionar Region" bindValue="id_region"
          bindLabel="nombre_region" notFoundText="No se encontraron coincidencias" formControlName="id_region"
          (change)="changeComuna($event)">
        </ng-select>
      </div>
      <div class="col-md-3">
        <label for="">Comuna</label>
        <ng-select [items]="selectComunas" placeholder="Seleccionar Comuna" bindValue="id_comuna"
          bindLabel="nombre_comuna" notFoundText="No se encontraron coincidencias" formControlName="id_comuna">
        </ng-select>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-1">
        <label for="">Código Telefónico</label>
        <select name="cod_telefono" id="cod_telefono" class="select form-select" formControlName="id_codigo_telefono">
          <option value="">Seleccione</option>
          <option value="1">+569</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="">Telefóno</label>
        <input type="text" (keyup)="soloNumeros($event)" class="form-control" formControlName="telefono" />
      </div>
      <div class="col-md-3">
        <label for="">Contacto Empresa</label>
        <input type="text" (keyup)="soloNumeros($event)" class="form-control" formControlName="tel_empresa" />
      </div>
      <div class="col-md-3">
        <label for="">Email</label>
        <input type="text" class="form-control" formControlName="email" />
      </div>
      <div class="col-md-3">
        <label for="">Pagina Web</label>
        <input type="text" class="form-control" formControlName="web" />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <label for="">Más Información</label>
        <textarea class="form-control" formControlName="resena_cliente"></textarea>
      </div>
    </div>
    <hr class="border-success" />
    <div class="row-mt-2">
      <div class="col-md-12">
        <h4>Razón Social / Nombre</h4>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <label for="">Compañia</label>
        <input type="text" class="form-control" formControlName="nom_compania" />
      </div>
      <div class="col-md-6">
        <label for="">Rut</label>
        <input type="text" (keyup)="formatearRut($event)" class="form-control" formControlName="rut_empresa" />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <label for="">Participación</label>
        <input type="text" class="form-control" formControlName="participacion_empresa" />
      </div>
      <div class="col-md-6">
        <label for="">Giro</label>
        <input type="text" class="form-control" formControlName="giro_empresa" />
      </div>
    </div>
    <hr class="border-success" />
    <div class="row-mt-2">
      <div class="col-md-12">
        <h4>Descripción del Caso</h4>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <label for="">Reseña Cliente</label>
        <textarea class="form-control" placeholder="Ingrese Observación" formControlName="desResCli"></textarea>
      </div>
      <div class="col-md-6">
        <label for="">¿Para que necesita realizar la operación?</label>
        <textarea class="form-control" placeholder="Ingrese Observación" formControlName="desNesOpe"></textarea>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <label for="">Como realizaara la recompra</label>
        <br />
        <div class="row">
          <div class="col-md-4">
            <div class="form-check">
              <input class="form-check-input" type="radio" id="desComReaCom1" value="Venta"
                formControlName="desComReaCom" />
              <label class="form-check-label" for="desComReaCom1">
                Venta
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="desComReaCom2" value="Refinanciamiento"
                formControlName="desComReaCom" />
              <label class="form-check-label" for="desComReaCom2">
                Refinanciamiento
              </label>
            </div>
          </div>
          <div class="col-md-8">
            <textarea class="form-control" placeholder="Ingrese Observación"
              formControlName="desComReaCom_obs"></textarea>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-2 validar">
        <label for="">Comentarios</label>
        <textarea class="form-control" placeholder="Ingrese Observación" formControlName="desComentario"></textarea>
      </div>
    </div>
    <hr class="border-success" />
    <div class="row-mt-2">
      <div class="col-md-12">
        <h3>Checklist Comité</h3>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <h4>Información Comercial - Persona</h4>
      </div>
    </div>
    <div class="row mt-3">
      <!-- seccion  -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-9">
            <label for="" class="text-uppercase">Informes Comerciales (Sinacofi)</label>
          </div>
          <div class="col-md-3 validar">
            <label for="">Documento</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perInfCom1" value="SI" formControlName="perInfCom" />
              <label class="form-check-label" for="perInfCom1"> SI </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perInfCom2" value="NO" formControlName="perInfCom" />
              <label class="form-check-label" for="perInfCom2"> NO </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perInfCom3" value="N/A" formControlName="perInfCom" />
              <label class="form-check-label" for="perInfCom3"> N/A </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-2 validar">
            <label for="">Cantidad</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perInfCom_cant1" value="0 - 3"
                formControlName="perInfCom_cant" />
              <label class="form-check-label" for="perInfCom_cant1">
                0 - 3
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perInfCom_cant2" value="4 - 10"
                formControlName="perInfCom_cant" />
              <label class="form-check-label" for="perInfCom_cant2">
                4 - 10
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perInfCom_cant3" value="10+"
                formControlName="perInfCom_cant" />
              <label class="form-check-label" for="perInfCom_cant3">
                10+
              </label>
            </div>
          </div>
          <div class="col-md-2 validar">
            <label for="">Monto UF</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perInfCom_monto1" value="0 - 10M"
                formControlName="perInfCom_monto" />
              <label class="form-check-label" for="perInfCom_monto1">
                0 - 10M
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perInfCom_monto2" value="10M - 30M"
                formControlName="perInfCom_monto" />
              <label class="form-check-label" for="perInfCom_monto2">
                10M - 30M
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perInfCom_monto3" value="30M+"
                formControlName="perInfCom_monto" />
              <label class="form-check-label" for="perInfCom_monto3">
                30M+
              </label>
            </div>
          </div>
          <div class="col">
            <label for="">Observación</label>
            <textarea class="form-control" placeholder="Ingrese Observación" formControlName="perInfCom_obs"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <!-- seccion  -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-9">
            <label for="" class="text-uppercase">Deudas (Sbif)</label>
          </div>
          <div class="col-md-3 validar">
            <label for="">Seleccione</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perdeu1" value="SI" formControlName="perdeu" />
              <label class="form-check-label" for="perdeu1"> SI </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perdeu2" value="NO" formControlName="perdeu" />
              <label class="form-check-label" for="perdeu2"> NO </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perdeu3" value="N/A" formControlName="perdeu" />
              <label class="form-check-label" for="perdeu3"> N/A </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <label for="">Estado Deuda</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perdeu_est1" value="Vigente"
                formControlName="perdeu_est" />
              <label class="form-check-label" for="perdeu_est1">
                Vigente
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perdeu_est2" value="Morosas"
                formControlName="perdeu_est" />
              <label class="form-check-label" for="perdeu_est2">
                Morosas
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perdeu_est3" value="Vencida"
                formControlName="perdeu_est" />
              <label class="form-check-label" for="perdeu_est3">
                Vencida
              </label>
            </div>
          </div>
          <div class="col">
            <label for="">Observación</label>
            <textarea class="form-control" placeholder="Ingrese Observación" formControlName="perdeu_obs"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <!-- seccion  -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-9">
            <label for="" class="text-uppercase">CIP (certificado de informaciones previas)</label>
          </div>
          <div class="col-md-3 validar">
            <label for="">Seleccione</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="percip1" value="SI" formControlName="percip" />
              <label class="form-check-label" for="percip1"> SI </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="percip2" value="NO" formControlName="percip" />
              <label class="form-check-label" for="percip2"> NO </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="percip3" value="N/A" formControlName="percip" />
              <label class="form-check-label" for="percip3"> N/A </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <label for="">Observación</label>
        <textarea class="form-control" placeholder="Ingrese Observación" formControlName="percip_obs"></textarea>
      </div>
    </div>
    <div class="row mt-3">
      <!-- seccion  -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-9">
            <label for="" class="text-uppercase">Certificado deuda Hipotecaria</label>
          </div>
          <div class="col-md-3 validar">
            <label for="">Seleccione</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="percerdeuhip1" value="SI"
                formControlName="percerdeuhip" />
              <label class="form-check-label" for="percerdeuhip1"> SI </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="percerdeuhip2" value="NO"
                formControlName="percerdeuhip" />
              <label class="form-check-label" for="percerdeuhip2"> NO </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="percerdeuhip3" value="N/A"
                formControlName="percerdeuhip" />
              <label class="form-check-label" for="percerdeuhip3"> N/A </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <label for="">Cantidad UF</label>
            <input type="text" (change)="formateadorMiles($event)" class="form-control"
              formControlName="percerdeuhip_cant" />
          </div>
          <div class="col">
            <label for="">Observación</label>
            <textarea class="form-control" placeholder="Ingrese Observación"
              formControlName="percerdeuhip_obs"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <!-- seccion  -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-9">
            <label for="" class="text-uppercase">Certificado deuda contribuciones</label>
          </div>
          <div class="col-md-3 validar">
            <label for="">Seleccione</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="percerdeucon1" value="SI"
                formControlName="percerdeucon" />
              <label class="form-check-label" for="percerdeucon1"> SI </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="percerdeucon2" value="NO"
                formControlName="percerdeucon" />
              <label class="form-check-label" for="percerdeucon2"> NO </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="percerdeucon3" value="N/A"
                formControlName="percerdeucon" />
              <label class="form-check-label" for="percerdeucon3"> N/A </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <label for="">Cantidad UF</label>
            <input type="text" (change)="formateadorMiles($event)" class="form-control"
              formControlName="percerdeucon_cant" />
          </div>
          <div class="col">
            <label for="">Observación</label>
            <textarea class="form-control" placeholder="Ingrese Observación"
              formControlName="percerdeucon_obs"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <h4>Información Legal - Persona</h4>
      </div>
    </div>
    <div class="row mt-3">
      <!-- seccion  -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-9">
            <label for="" class="text-uppercase">Informacion Pericial</label>
          </div>
          <div class="col-md-3 validar">
            <label for="">Seleccione</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perinflegal1" value="SI" formControlName="perinflegal" />
              <label class="form-check-label" for="perinflegal1"> SI </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perinflegal2" value="NO" formControlName="perinflegal" />
              <label class="form-check-label" for="perinflegal2"> NO </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perinflegal3" value="N/A"
                formControlName="perinflegal" />
              <label class="form-check-label" for="perinflegal3"> N/A </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-2 validar">
            <label for="">Tipo</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perinflegal_tip1" value="Civil"
                formControlName="perinflegal_tip" />
              <label class="form-check-label" for="perinflegal_tip1">
                Civil
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perinflegal_tip2" value="Penal"
                formControlName="perinflegal_tip" />
              <label class="form-check-label" for="perinflegal_tip2">
                Penal
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perinflegal_tip3" value="Ambas"
                formControlName="perinflegal_tip" />
              <label class="form-check-label" for="perinflegal_tip3">
                Ambas
              </label>
            </div>
          </div>
          <div class="col-md-2 validar">
            <label for="">Cantidad</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perinflegal_cant1" value="1 - 5"
                formControlName="perinflegal_cant" />
              <label class="form-check-label" for="perinflegal_cant1">
                1 - 5
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perinflegal_cant2" value="5 - 10"
                formControlName="perinflegal_cant" />
              <label class="form-check-label" for="perinflegal_cant2">
                5 - 10
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="perinflegal_cant3" value="10+"
                formControlName="perinflegal_cant" />
              <label class="form-check-label" for="perinflegal_cant3">
                10+
              </label>
            </div>
          </div>
          <div class="col">
            <label for="">Observación</label>
            <textarea class="form-control" placeholder="Ingrese Observación"
              formControlName="perinflegal_obs"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <h4>Información Comercial - Compañia</h4>
      </div>
    </div>
    <div class="row mt-3">
      <!-- seccion  -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-9">
            <label for="" class="text-uppercase">Informe Comerciales (Sinacofi)</label>
          </div>
          <div class="col-md-3 validar">
            <label for="">Seleccione</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfcom1" value="SI" formControlName="cominfcom" />
              <label class="form-check-label" for="cominfcom1"> SI </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfcom2" value="NO" formControlName="cominfcom" />
              <label class="form-check-label" for="cominfcom2"> NO </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfcom3" value="N/A" formControlName="cominfcom" />
              <label class="form-check-label" for="cominfcom3"> N/A </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-2 validar">
            <label for="">Cantidad</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfcom_cant1" value="0 - 3"
                formControlName="cominfcom_cant" />
              <label class="form-check-label" for="cominfcom_cant1">
                0 - 3
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfcom_cant2" value="4 - 10"
                formControlName="cominfcom_cant" />
              <label class="form-check-label" for="cominfcom_cant2">
                4 - 10
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfcom_cant3" value="10+"
                formControlName="cominfcom_cant" />
              <label class="form-check-label" for="cominfcom_cant3">
                10+
              </label>
            </div>
          </div>
          <div class="col-md-2 validar">
            <label for="">Monto UF</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfcom_monto1" value="0 - 10M"
                formControlName="cominfcom_monto" />
              <label class="form-check-label" for="cominfcom_monto1">
                0 - 10M
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfcom_monto2" value="10M - 30M"
                formControlName="cominfcom_monto" />
              <label class="form-check-label" for="cominfcom_monto2">
                10M - 30M
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfcom_monto3" value="30M+"
                formControlName="cominfcom_monto" />
              <label class="form-check-label" for="cominfcom_monto3">
                30M+
              </label>
            </div>
          </div>
          <div class="col">
            <label for="">Observación</label>
            <textarea class="form-control" placeholder="Ingrese Observación" formControlName="cominfcom_obs"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <!-- seccion  -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-9">
            <label for="" class="text-uppercase">Deudas (Sbif)</label>
          </div>
          <div class="col-md-3 validar">
            <label for="">Seleccione</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="comdeu1" value="SI" formControlName="comdeu" />
              <label class="form-check-label" for="comdeu1"> SI </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="comdeu2" value="NO" formControlName="comdeu" />
              <label class="form-check-label" for="comdeu2"> NO </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="comdeu3" value="N/A" formControlName="comdeu" />
              <label class="form-check-label" for="comdeu3"> N/A </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <label for="">Estado Deuda</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="comdeu_est1" value="Vigente"
                formControlName="comdeu_est" />
              <label class="form-check-label" for="comdeu_est1">
                Vigente
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="comdeu_est2" value="Morosas"
                formControlName="comdeu_est" />
              <label class="form-check-label" for="comdeu_est2">
                Morosas
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="comdeu_est3" value="Vencida"
                formControlName="comdeu_est" />
              <label class="form-check-label" for="comdeu_est3">
                Vencida
              </label>
            </div>
          </div>
          <div class="col">
            <label for="">Observación</label>
            <textarea class="form-control" placeholder="Ingrese Observación" formControlName="comdeu_obs"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <!-- seccion  -->
      <div class="col-md-3">
        <label for="" class="text-uppercase">CIP (certificado de informaciones previa)</label>
      </div>
      <div class="col-md-2 validar">
        <label for="">Seleccione</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="comcip1" value="SI" formControlName="comcip" />
          <label class="form-check-label" for="comcip1"> SI </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="comcip2" value="NO" formControlName="comcip" />
          <label class="form-check-label" for="comcip2"> NO </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="comcip3" value="N/A" formControlName="comcip" />
          <label class="form-check-label" for="comcip3"> N/A </label>
        </div>
      </div>
      <div class="col-md-7">
        <label for="">Observación</label>
        <textarea class="form-control" placeholder="Ingrese Observación" formControlName="comcip_obs"></textarea>
      </div>
    </div>
    <div class="row mt-3">
      <!-- seccion  -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-9">
            <label for="" class="text-uppercase">Certificado deuda hipotecaria</label>
          </div>
          <div class="col-md-3 validar">
            <label for="">Seleccione</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="comcerdeuhip1" value="SI"
                formControlName="comcerdeuhip" />
              <label class="form-check-label" for="comcerdeuhip1"> SI </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="comcerdeuhip2" value="NO"
                formControlName="comcerdeuhip" />
              <label class="form-check-label" for="comcerdeuhip2"> NO </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="comcerdeuhip3" value="N/A"
                formControlName="comcerdeuhip" />
              <label class="form-check-label" for="comcerdeuhip3"> N/A </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <label for="">Cantidad UF</label>
            <input type="text" (change)="formateadorMiles($event)" class="form-control"
              formControlName="comcerdeuhip_cant" />
          </div>
          <div class="col">
            <label for="">Observación</label>
            <textarea class="form-control" placeholder="Ingrese Observación"
              formControlName="comcerdeuhip_obs"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <!-- seccion  -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-9">
            <label for="" class="text-uppercase">Certificado deuda contribuciones</label>
          </div>
          <div class="col-md-3 validar">
            <label for="">Seleccione</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="comcerdeucontr1" value="SI"
                formControlName="comcerdeucontr" />
              <label class="form-check-label" for="comcerdeucontr1"> SI </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="comcerdeucontr2" value="NO"
                formControlName="comcerdeucontr" />
              <label class="form-check-label" for="comcerdeucontr2"> NO </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="comcerdeucontr3" value="N/A"
                formControlName="comcerdeucontr" />
              <label class="form-check-label" for="comcerdeucontr3">
                N/A
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <label for="">Cantidad UF</label>
            <input type="text" (change)="formateadorMiles($event)" class="form-control"
              formControlName="comcerdeucontr_cant" />
          </div>
          <div class="col">
            <label for="">Observación</label>
            <textarea class="form-control" placeholder="Ingrese Observación"
              formControlName="comcerdeucontr_obs"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <h4>Informacion Legal - Compañia</h4>
      </div>
    </div>
    <div class="row mt-3">
      <!-- seccion  -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-9">
            <label for="" class="text-uppercase">Informe Pericial</label>
          </div>
          <div class="col-md-2 validar">
            <label for="">Seleccione</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfper1" value="SI" formControlName="cominfper" />
              <label class="form-check-label" for="cominfper1"> SI </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfper2" value="NO" formControlName="cominfper" />
              <label class="form-check-label" for="cominfper2"> NO </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfper3" value="N/A" formControlName="cominfper" />
              <label class="form-check-label" for="cominfper3"> N/A </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-2">
            <label for="">Tipo</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfper_tip1" value="Civil"
                formControlName="cominfper_tip" />
              <label class="form-check-label" for="cominfper_tip1">
                Civil
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfper_tip2" value="Penal"
                formControlName="cominfper_tip" />
              <label class="form-check-label" for="cominfper_tip2">
                Penal
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfper_tip3" value="Ambas"
                formControlName="cominfper_tip" />
              <label class="form-check-label" for="cominfper_tip3">
                Ambas
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <label for="">Cantidad</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfper_cant1" value="1 - 5"
                formControlName="cominfper_cant" />
              <label class="form-check-label" for="cominfper_cant1">
                1 - 5
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfper_cant2" value="5 - 10"
                formControlName="cominfper_cant" />
              <label class="form-check-label" for="cominfper_cant2">
                5 - 10
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cominfper_cant3" value="10+"
                formControlName="cominfper_cant" />
              <label class="form-check-label" for="cominfper_cant3">
                10+
              </label>
            </div>
          </div>
          <div class="col">
            <label for="">Observación</label>
            <textarea class="form-control" placeholder="Ingrese Observación" formControlName="cominfper_obs"></textarea>
          </div>
        </div>
      </div>
    </div>
    <hr class="border-success" />
    <div class="row-mt-2">
      <div class="col-md-12">
        <h3>Detalle Propiedad</h3>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <h4>Descripción Propiedad</h4>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 validar">
        <label for="">Destino SII</label>
        <input type="text" class="form-control" formControlName="destinoSII" />
      </div>
      <div class="col-md-4 validar">
        <label for="">Tipo Inmueble</label>
        <input type="text" class="form-control" formControlName="tipoInmueble" />
      </div>
      <div class="col-md-4 validar">
        <label for="">Cantidad Estacionamientos o Bodega</label>
        <input type="text" class="form-control" formControlName="estaBodega" />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <h4>Tasación Propiedad</h4>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 mt-2 validar">
        <label for="">Tasador</label>
        <ng-select placeholder="Seleccionar Tasador" notFoundText="No se encontraron coincidencias"
          formControlName="id_tasador">
          <ng-option [value]="1">Transsa</ng-option>
          <ng-option [value]="2">Tasabank</ng-option>
          <ng-option [value]="3">Colliers</ng-option>
          <ng-option [value]="4">Otros</ng-option>
        </ng-select>
      </div>
      <div class="col-md-4 mt-2 validar">
        <label for="">Fecha Informe Tasación</label>
        <input type="date" class="form-control" formControlName="fechaTasacion" />
      </div>
      <div class="col-md-4 mt-2 validar">
        <label for="">Tipo de Construcción</label>
        <ng-select placeholder="Seleccionar Tipo Construcción" notFoundText="No se encontraron coincidencias"
          formControlName="id_tipoConstruccion">
          <ng-option [value]="1">Solido</ng-option>
          <ng-option [value]="2">Ligero</ng-option>
          <ng-option [value]="3">Ambos</ng-option>
          <ng-option [value]="4">Sin Construccion</ng-option>
        </ng-select>
      </div>
      <div class="col-md-4 mt-2 validar">
        <label for="">Situacion legal de la Propiedad</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="detprositlegpro1" value="Sin Hipoteca"
            formControlName="detprositlegpro" />
          <label class="form-check-label" for="detprositlegpro1">
            Sin Hipoteca
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="detprositlegpro2" value="Con Hipoteca"
            formControlName="detprositlegpro" />
          <label class="form-check-label" for="detprositlegpro2">
            Con Hipoteca
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="detprositlegpro3" value="Con Hipoteca / Embargo"
            formControlName="detprositlegpro" />
          <label class="form-check-label" for="detprositlegpro3">
            Con Hipoteca / Embargo
          </label>
        </div>
        <ng-select [items]="selectBancos" placeholder="Seleccionar Banco" bindValue="id_banco" bindLabel="nombre_banco"
          notFoundText="No se encontraron coincidencias" formControlName="detprositlegpro_banco">
        </ng-select>
      </div>
      <div class="col-md-4 mt-2 validar">
        <label for="">Regularizado Porcentaje (situacion municipal)</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="regularizacion1" value="0 - 50"
            formControlName="regularizacion" />
          <label class="form-check-label" for="regularizacion1">
            0 - 50
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="regularizacion2" value="50 - 90"
            formControlName="regularizacion" />
          <label class="form-check-label" for="regularizacion2">
            50 - 90
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="regularizacion3" value="90+"
            formControlName="regularizacion" />
          <label class="form-check-label" for="regularizacion3">
            90+
          </label>
        </div>
      </div>
      <div class="col-md-4 mt-2 validar">
        <label for="">Quien Vive en el inmueble</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="quienViveInmueble1" value="Propietario"
            formControlName="quienViveInmueble" />
          <label class="form-check-label" for="quienViveInmueble1">
            Propietario
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="quienViveInmueble2" value="Arrendatario"
            formControlName="quienViveInmueble" />
          <label class="form-check-label" for="quienViveInmueble2">
            Arrendatario
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="quienViveInmueble3" value="Otros"
            formControlName="quienViveInmueble" />
          <label class="form-check-label" for="quienViveInmueble3">
            Otros
          </label>
        </div>
        <textarea class="form-control" placeholder="Ingrese Observación"
          formControlName="quienViveInmueble_obs"></textarea>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <h4>Detalle Tasación Propiedad</h4>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3 align-self-center">
        <label for="">Valor UF(Fecha Tasación)</label>
      </div>
      <div class="col-md-3">
        <input type="text" (change)="formateadorMiles($event)" class="form-control" formControlName="valor_uf" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3 align-self-center">
        <label for="">Terreno Estimado</label>
      </div>
      <div class="col-md-3 validar">
        <label for="">Valor UF</label>
        <input type="text" (change)="formateadorMiles($event)" class="form-control"
          formControlName="terrenoEstimado_uf" />
      </div>
      <div class="col-md-3 validar">
        <label for="">Superfice m<sup>2</sup></label>
        <input type="text" (change)="formateadorMiles($event)" class="form-control"
          formControlName="terrenoEstimado_m2" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3 align-self-center">
        <label for="">Construcción Estimado</label>
      </div>
      <div class="col-md-3 validar">
        <label for="">Valor UF</label>
        <input type="text" (change)="formateadorMiles($event)" class="form-control"
          formControlName="cinstruccionEstimado_uf" />
      </div>
      <div class="col-md-3 validar">
        <label for="">Superfice m<sup>2</sup></label>
        <input type="text" (change)="formateadorMiles($event)" class="form-control"
          formControlName="cinstruccionEstimado_m2" />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 align-self-center">
        <label for="">Propiedad Estimado</label>
      </div>
      <div class="col-md-3 validar">
        <label for="">Valor UF</label>
        <input type="text" (change)="formateadorMiles($event)" class="form-control"
          formControlName="propiedadEstimado_uf" />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <h4>Otras Indicaciones de Valor</h4>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3 align-self-center">
        <label for="">Precio de Liquidacón</label>
      </div>
      <div class="col-md-3 validar">
        <label for="">Valor UF</label>
        <input type="text" (change)="formateadorMiles($event)" class="form-control"
          formControlName="precioLiquidacion" />
      </div>
    </div>
    <div class="row mt-3 validar">
      <div class="col-md-3 align-self-center">
        <label for="">Avaluo Fiscal</label>
      </div>
      <div class="col-md-3 validar">
        <label for="">Valor (CL)</label>
        <input type="text" (change)="formateadorMiles($event)" class="form-control" formControlName="avaluoFiscal" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3 align-self-center">
        <label for="">Velocidad de Venta</label>
      </div>
      <div class="col-md-3 validar">
        <div class="form-check">
          <input class="form-check-input" type="radio" id="velocidadVenta1" value="Lenta"
            formControlName="velocidadVenta" />
          <label class="form-check-label" for="velocidadVenta1"> Lenta </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="velocidadVenta2" value="Media"
            formControlName="velocidadVenta" />
          <label class="form-check-label" for="velocidadVenta2"> Media </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="velocidadVenta3" value="Veloz"
            formControlName="velocidadVenta" />
          <label class="form-check-label" for="velocidadVenta3"> Veloz </label>
        </div>
      </div>
    </div>
    <hr class="border-success" />
    <div class="row mt-2">
      <div class="col-md-3">
        <h4>Detalle Propuesta</h4>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 mt-2">
        <label for="">LTV</label>
        <input type="text" (change)="formateadorMiles($event)" (change)="detalleComitePropuesta()" class="form-control"
          formControlName="ltv" />
      </div>
      <div class="col-md-3 mt-2">
        <label for="">Compra Venta</label>
        <input type="text" class="form-control" formControlName="compraventa" readonly />
      </div>
      <div class="col-md-3 mt-2">
        <label for="">Renta Anual</label>
        <input type="text" class="form-control" formControlName="renta_anual" readonly />
      </div>
      <div class="col-md-3 mt-2">
        <label for="">Gastos Operacionales</label>
        <input type="text" (change)="formateadorMiles($event)" (change)="detalleComitePropuesta()" class="form-control"
          formControlName="gastos_operacionales" />
      </div>
      <div class="col-md-3 mt-2">
        <label for="">Alzamiento</label>
        <input type="text" (change)="formateadorMiles($event)" (change)="detalleComitePropuesta()" class="form-control"
          formControlName="alzamiento" />
      </div>
      <div class="col-md-3 mt-2">
        <label for="">Administracion</label>
        <input type="text" class="form-control" formControlName="administracion" readonly />
      </div>
      <div class="col-md-3 mt-2">
        <label for="">Contribuciones</label>
        <input type="text" (change)="formateadorMiles($event)" (change)="detalleComitePropuesta()" class="form-control"
          formControlName="contribuciones" />
      </div>
      <div class="col-md-3 mt-2">
        <label for="">Provisión Contribuciones</label>
        <input type="text" (change)="formateadorMiles($event)" (change)="detalleComitePropuesta()" class="form-control"
          formControlName="provicion_contribuciones" />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 mt-2">
        <label for="">Liquido Cliente</label>
        <input type="text" class="form-control" formControlName="liquido_cliente" readonly />
      </div>
      <div class="col-md-3 mt-2">
        <label for="">Tasa</label>
        <input type="text" (change)="formateadorMiles($event)" class="form-control" formControlName="tasa"
          (change)="detalleComitePropuesta()" />
      </div>
      <div class="col-md-3 mt-2">
        <label for="">Comision</label>
        <input type="text" (change)="formateadorMiles($event)" class="form-control" formControlName="comision"
          (change)="detalleComitePropuesta()" />
      </div>
      <div class="col-md-3 mt-2">
        <label for="">Inversionista</label>
        <ng-select [items]="selectInversionista" placeholder="Seleccionar Inversionista" bindValue="id"
          bindLabel="nombre" notFoundText="No se encontraron coincidencias"
          (change)="cambiarInversionistaComisionTasa($event)">
        </ng-select>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <button type="submit" class="btn btn-success w-100" [disabled]="formFichaComite.invalid">
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>