<!-- <div *ngIf="casosPendientes?.dataPendiente?.length; else noData">
    <canvas #chartCanvas></canvas>
</div>

<ng-template #noData>
    <p>No hay datos disponibles</p>
</ng-template> -->

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h3>Casos Clientes</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let grafico of dataCliente; let i=index">
                <div class="card">
                    <div class="card-body">
                        <p-chart type="pie" [data]="grafico" [options]="optionsCliente[i]" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>