<div class="container-fluid mt-3">
    <div class="row mt-2">
        <div class="col-md-4">
            <label for="">Tipo de propiedad</label>
            <input type="text" name="" id="" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="">Rol</label>
            <input type="text" name="" id="" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="">Exclusividad</label>
            <input type="text" name="" id="" class="form-control">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <label for="">Venta</label>
                    <div class="btn-group w-100" role="group">
                        <button type="button" class="btn" [ngClass]="getButtonClasses('conexionLavarropas', 'True')"
                            (click)="setButtonValue('conexionLavarropas', 'True')">
                            Sí
                        </button>
                        <button type="button" class="btn" [ngClass]="getButtonClasses('conexionLavarropas', 'False')"
                            (click)="setButtonValue('conexionLavarropas', 'False')">
                            No
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="">Precio</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="">Tipo Moneda</label>
                    <br>
                    <input type="radio" name="" id="">UF
                    <input type="radio" name="" id="">DOLAR
                    <input type="radio" name="" id="">CPL
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <label for="">Arriendo</label>
                    <div class="btn-group w-100" role="group">
                        <button type="button" class="btn" [ngClass]="getButtonClasses('conexionLavarropas', 'True')"
                            (click)="setButtonValue('conexionLavarropas', 'True')">
                            Sí
                        </button>
                        <button type="button" class="btn" [ngClass]="getButtonClasses('conexionLavarropas', 'False')"
                            (click)="setButtonValue('conexionLavarropas', 'False')">
                            No
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="">Precio</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="">Tipo Moneda</label>
                    <br>
                    <input type="radio" name="" id="">UF
                    <input type="radio" name="" id="">DOLAR
                    <input type="radio" name="" id="">CPL
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <label for="">Gastos Comunes</label>
            <input type="text" name="" id="" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="">Contribuciones</label>
            <input type="text" name="" id="" class="form-control">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <label for="">Región </label>
            <input type="text" name="" id="" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="">Comuna</label>
            <input type="text" name="" id="" class="form-control">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <label for="">Dirección exacta</label>
            <input type="text" name="" id="" class="form-control">
        </div>
        <div class="col-md-3">
            <label for="">Nº de calle</label>
            <input type="text" name="" id="" class="form-control">
        </div>
        <div class="col-md-3">
            <label for="">Unidad</label>
            <input type="text" name="" id="" class="form-control">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <label for="">Dirección referencial (Es la que se envía a portales y si aparece en sitio web)</label>
            <input type="text" name="" id="" class="form-control">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-3">
            <label for="">Mostrar mapa en la ficha de la propiedad</label>
            <div class="btn-group w-100" role="group">
                <button type="button" class="btn" [ngClass]="getButtonClasses('conexionLavarropas', 'True')"
                    (click)="setButtonValue('conexionLavarropas', 'True')">
                    Sí
                </button>
                <button type="button" class="btn" [ngClass]="getButtonClasses('conexionLavarropas', 'False')"
                    (click)="setButtonValue('conexionLavarropas', 'False')">
                    No
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <label for="">Enviar coordenadas a portales</label>
            <div class="btn-group w-100" role="group">
                <button type="button" class="btn" [ngClass]="getButtonClasses('conexionLavarropas', 'True')"
                    (click)="setButtonValue('conexionLavarropas', 'True')">
                    Sí
                </button>
                <button type="button" class="btn" [ngClass]="getButtonClasses('conexionLavarropas', 'False')"
                    (click)="setButtonValue('conexionLavarropas', 'False')">
                    No
                </button>
            </div>
            <!-- <div class="gap-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="r1_si" value="SI">
                    <label class="form-check-label" for="r1_si">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="r1_no" value="NO">
                    <label class="form-check-label" for="r1_no">No</label>
                </div>
            </div> -->
        </div>
    </div>
</div>