<div class="container-fluid mt-3">
    <div class="row mt-2">
        <div class="col-md-4">
            <label for="">Estado</label>
            <input type="text" value="{{estado_actual}}" class="form-control" disabled>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col" *ngIf="estado_actual != 'REVISIÓN Y ASIGNACIÓN'">
            <button type="button" class="btn btn-warning w-100" (click)="volverEstado()">Volver Estado</button>
        </div>
        <div class="col" *ngIf="estado_actual != 'CIERRE'">
            <button type="button" class="btn btn-primary w-100" (click)="siguienteEstado()">Siguiente Estado</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100">Guardar</button>
        </div>
    </div>
</div>

    