<div class="container-fluid">
  <div class="row pt-3">
    <div class="col-md-6">
      <h3>Mantenedor Tipo Imagenes</h3>
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <button class="btn btn-success w-100" (click)="abrirModalTipoDocumento(null)">
        Agregar Tipo Documento
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-mn-12">
      <p-table #tabla [value]="tipoDocumento" styleClass="p-datatable-striped" [paginator]="true" [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Registros"
        [rowsPerPageOptions]="[10, 25, 50, 100, 250, 500]" [globalFilterFields]="['nombre_tipoDocumento']"
        selectionMode="single" dataKey="id_tipoDocumento" [scrollable]="true" scrollDirection="horizontal"
        [style]="{ width: '100%' }">
        <!-- FILTRO GENERAL -->
        <ng-template pTemplate="caption">
          <div class="row">
            <div class="col-md-6">
              <button pButton class="btn btn-success" (click)="clear(tabla)">
                <i class="bi bi-filter"></i>Lipiar Filtros
              </button>
            </div>
            <div class="col-md-6">
              <input #iBuscarTodo type="text" class="form-control" (input)="handleFilter($event)"
                placeholder="Buscar en toda la tabla" />
            </div>
          </div>
        </ng-template>
        <!-- FILTROS POR COLUMNAS -->
        <ng-template pTemplate="header">
          <tr>
            <th [style]="{ width: '150px' }">
              <div class="d-flex justify-content-between align-items-center">
                <label for="">N°</label>
              </div>
            </th>
            <th pSortableColumn="nombre_tipoDocumento">
              <div class="d-flex justify-content-between align-items-center">
                <label for="">Nombre Tipo Documento</label>
                <div class="d-flex flex-column">
                  <p-columnFilter type="text" field="nombre_tipoDocumento" display="menu"></p-columnFilter>
                  <p-sortIcon field="nombre_tipoDocumento"></p-sortIcon>
                </div>
              </div>
            </th>
            <th [style]="{ width: '150px' }">
              <div class="text-center">
                <label for="">Opciones</label>
              </div>
            </th>
          </tr>
        </ng-template>
        <!-- CUERPO DE LA TABLA -->
        <ng-template pTemplate="body" let-tipoDocumento let-i="rowIndex">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ tipoDocumento.nombre_tipoDocumento }}</td>
            <td>
              <div class="text-center">
                <i class="bi bi-pencil-square" (click)="abrirModalTipoDocumento(tipoDocumento)"></i>
              </div>
            </td>
          </tr>
        </ng-template>
        <!-- MENSAJE DE QUE NO HAY DATOS -->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="20" class="text-center">No hay datos disponibles</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- MODAL PARA AGREGAR O EDITAR -->
<shared-modal #modalTipoDocumento modalId="modalTipoDocumento" [titulo]="titulo_cabecera + ' Tipo Documento'">
  <div modal-cuerpo>
    <div class="row mt-2" [formGroup]="formTipoDocumento">
      <div class="row">
        <div class="col-md-6">
          <label for="">Nombre Tipo Propiedad</label>
          <input type="text" class="form-control" formControlName="nombre_tipoDocumento" (keyup)="mayuscula($event)" />
          <shared-mensaje-validador
            [forControl]="formTipoDocumento.controls['nombre_tipoDocumento']"></shared-mensaje-validador>
        </div>
      </div>
    </div>
  </div>
  <div modal-footer>
    <button type="submit" class="btn btn-success" (click)="accionTipoPropiedad()"
      [disabled]="formTipoDocumento.invalid">
      {{ titulo_cabecera }} Tipo Documento
    </button>
  </div>
</shared-modal>