<footer class="bg-dark text-white py-4">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-4">
          <h5>Soporte</h5>
          <p>
            Dudas o conusltas al correo jellies&#64;creditotal.cl o ljofre&#64;creditotal.cl
          </p>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li><i class="bi bi-telephone-fill"></i> Phone: +123 456 789</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Facebook</a></li>
            <li><a href="#" class="text-white">Twitter</a></li>
            <li><a href="#" class="text-white">Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="text-center mt-3">
        <p>&copy; IRS INVERSIONES.</p>
      </div>
    </div>
  </footer>
  