<shared-navbar></shared-navbar>

<div class="container-fluid pt-3 pb-3 fondoTodo">
  <div class="row pt-3">
    <div class="col-md-6">
      <h2>Informacion Cliente ID : {{ idCliente }}</h2>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-warning w-100" (click)="volverAtrasPagina()">
        Volver
      </button>
    </div>
  </div>
  
  <div class="card">
    <div class="card-body mb-4">
      <cliente-menu></cliente-menu>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<shared-footer></shared-footer>