<shared-navbar></shared-navbar>
<div class="container-fluid pt-3 pb-3 fondoTodo">
  <div class="row pt-3">
    <div class="col-md-6">
      <h2>Perfil Usuario</h2>
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="card">
    <div class="card-body mb-4">
      <form [formGroup]="formUsuario">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="">RUT</label>
            <input type="text" class="form-control" formControlName="usu_rut" (keyup)="formatearRut($event)" />
            <shared-mensaje-validador [forControl]="formUsuario.controls['usu_rut']"></shared-mensaje-validador>
          </div>
          <div class="col-md-3">
            <label for="">Nombre</label>
            <input type="text" class="form-control" formControlName="usu_nombre" (change)="mayuscula($event)" />
            <shared-mensaje-validador [forControl]="formUsuario.controls['usu_nombre']"></shared-mensaje-validador>
          </div>
          <div class="col-md-3">
            <label for="">Apellido Paterno</label>
            <input type="text" class="form-control" formControlName="usu_apep" (change)="mayuscula($event)" />
            <shared-mensaje-validador [forControl]="formUsuario.controls['usu_apep']"></shared-mensaje-validador>
          </div>
          <div class="col-md-3">
            <label for="">Apellido Materna</label>
            <input type="text" class="form-control" formControlName="usu_apem" (change)="mayuscula($event)" />
            <shared-mensaje-validador [forControl]="formUsuario.controls['usu_apem']"></shared-mensaje-validador>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="">Correo</label>
            <input type="text" class="form-control" formControlName="usu_correo" />
            <shared-mensaje-validador [forControl]="formUsuario.controls['usu_correo']"></shared-mensaje-validador>
          </div>
          <div class="col-md-2">
            <label for="">Codigo Telefono</label>
            <ng-select [items]="selectCodigoTelefono" bindValue="id_codigoTelefonico" bindLabel="codigo_telefono"
              placeholder="Seleccione estado" notFoundText="No se encontraron coincidencias"
              formControlName="id_codigoTelefonico">
            </ng-select>
            <shared-mensaje-validador
              [forControl]="formUsuario.controls['id_codigoTelefonico']"></shared-mensaje-validador>
          </div>
          <div class="col-md-4">
            <label for="">Telefono</label>
            <input type="text" class="form-control" formControlName="usu_tel" />
            <shared-mensaje-validador [forControl]="formUsuario.controls['usu_tel']"></shared-mensaje-validador>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <button type="button" class="btn btn-success w-100" [disabled]="formUsuario.invalid" (click)="modificarUsuario()">Guardar</button>
          </div>
        </div>
      </form>
      <hr>
      <form [formGroup]="formPassword">
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="">Password</label>
            <input type="text" class="form-control" formControlName="password" />
            <shared-mensaje-validador [forControl]="formPassword.controls['password']"></shared-mensaje-validador>
          </div>
          <div class="col-md-6">
            <label for="">Confirmar Password</label>
            <input type="text" class="form-control" formControlName="password2" />
            <shared-mensaje-validador [forControl]="formPassword.controls['password2']"></shared-mensaje-validador>
            <ng-container *ngIf="
                    formPassword.hasError('passwordNotMach') &&
                    formPassword.get('password2')?.touched
                  ">
              <small style="color: red">Las password no son iguales desde</small>
            </ng-container>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <button type="button" class="btn btn-success w-100" [disabled]="formPassword.invalid"
              (click)="modificarPassword()">
              Cambiar Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<shared-footer></shared-footer>