.fondoLogin {
    /* Cambia esta ruta por la URL de tu imagen */
    background-image: url('/assets/login.jpg');
    /* Ajusta la imagen para cubrir toda la pantalla */
    background-size: cover;
    /* Centra la imagen */
    background-position: center;
    /* Evita que la imagen se repita */
    background-repeat: no-repeat;
    /* Asegura que cubra toda la pantalla */
    height: 100vh;
}